#################
## Talend
#################

*.pydevproject
bin/
tmp/
temp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
*.log
./metadata/.lock
history/
.history/
*.bin
*.class
*.jar
SkeletonUpdateCache
XsdValidationCache
.classpath


Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Variabili di contesto locali
gitignore_0.1.item
gitignore_0.1.properties